<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <link rel="icon" href="http://www.orga.ua/favicon.ico" type="image/x-icon">
    <title>Single Review</title>


    <!-- Our Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style4.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}"/>


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-glyphicons/css/bootstrap-glyphicons.css}">

    <script th:src="@{/webjars/font-awesome/js/solid.js}"></script>
    <script th:src="@{/webjars/font-awesome/js/fontawesome.js}"></script>


</head>

<body>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">

        <ul class="list-unstyled components">

            <div id="photoChange" class="mt-2 justify-content-center align-content-center align-self-center border-bottom">
                <div class=" mt-2 text-center justify-content-center align-content-center align-self-center">
                    <img class="card-img rounded-circle " th:src="@{${(user.thumbnail == null) ? '/images/nopic.png':'/profileImage/'+__${user.id}__ }}" style="max-width: 150px; max-height: 150px" th:alt="${#httpServletRequest.remoteUser}"  title="That's you">
                    <h6 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h6>
                    <div class="statistics CTAs ">
                        <div class="stat-info" style="display: flex"><p class="stat-info">Journeys created:</p>
                            <p th:object="${organizator}" th:text="${organizator.size()}" class="stat-info">0</p></div>
                        <div class="stat-info" style="display: flex"><p class="stat-info">Journeys participated:</p>
                            <p th:object="${personPastJourney}" th:text="${personPastJourney.size()}" class="stat-info">0</p></div>
                        <div class="stat-info " style="display: flex"><p class="stat-info">Upcoming:</p>
                            <p th:object="${personActiveJourney}" th:text="${personActiveJourney.size()}" class="stat-info">0</p></div>
                    </div>
                </div>


            </div>

            <li class="active ">
                <a href="/profile" class=" text-decoration-none">
                    <i class="fas fa-user"></i>
                    Profile
                </a>

            </li>
            <li>
                <a href="/journey" class="text-decoration-none">
                    <i class="fas fa-road"></i>
                    Journeys
                    <span class="badge badge-info" th:if="${requestNumber}>0" th:text="${requestNumber}"></span>
                </a>
                <a  href="/reviews" class="flex-wrap" >
                    <i class="fas fa-readme"></i>
                    Reviews
                </a>

                <a href="/locations" class="flex-wrap" >
                    <i class="fas fa-address-book"></i>
                    Locations
                </a>

            </li>
            <li>
                <a href="/find" class="flex-wrap" >
                    <i class="fas fa-search"></i>
                    Advanced Search
                </a>

            </li>
            <li>
                <a href="/allUsers" class="text-decoration-none ">
                    <i class="fas fa-people-carry"></i>
                    Other users
                </a>
            </li>
            <li>
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" class="nav-link">
                    <i class="fas fa-ring"></i>
                    One page to rule them all
                </a>
            </li>
        </ul>

    </nav>


    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info mr-2">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <ul class="nav navbar-nav ">
                    <li class="breadcrumb-item"><a class="black text-decoration-none" href="/">Home</a></li>
                    <li class="breadcrumb-item"><a class="black text-decoration-none" href="/journey">Journey</a></li>
                    <li class="breadcrumb-item"><a class="black text-decoration-none" href="/reviews"><b>Reviews</b>
                    </a></li>

                </ul>


                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black" th:href="@{/profile}"><img class="figure-img"
                                                                                 th:src="@{${(user.thumbnail == null) ? '/images/nopic.png':'/profileImage/'+__${user.id}__ }}"
                                                                                 th:alt="${#httpServletRequest.remoteUser}"
                                                                                 style="height:19.2px;width: 16px"
                                                                                 title="That's you"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black" th:href="@{/}"><span
                                    class=" nav-item glyphicon glyphicon-home  black"
                                    title="return to the start menu"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black" href="/help" target="_blank"><span class=" nav-item glyphicon glyphicon-question-sign black" title="Help"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black" th:href="@{/logout}"><span
                                    class=" nav-item glyphicon glyphicon-off black" title="sign out"></span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <div class="row">
            <div class="col-md-6">
                <div class="head w-100">Review by [[${review.author.username}]] about journey [[${review.journey.title}]]:</div>
                <div class="row">

                    <div th:object="${review}" class="col-auto mb-8">
                        <div class="card" >

                          <a title="full" th:href="@{__${(review.image != null) ? '/review/image/'+ review.id : '/images/nopic.png' }__}" ><img class="card-img-top" style="max-height: 20rem;width:auto;" th:src="@{__${(review.image != null) ? '/review/image/'+ review.id : '/images/nopic.png' }__}" alt="Card image cap"></a>

                            <div class="card-body card">
                                <h5 class="card-title" th:text="${review.journey.title}">Card title</h5>
                                <p class="card-text" th:text="${review.text}"></p>

                            </div>
                            <div class="card-footer text-muted">
                                <p th:text="'Created: '+${#dates.format(review.create_date,'yyyy.MM.dd HH:mm')}"></p>
                            </div>

                            <div th:if="!${#lists.isEmpty(review.tag)}" class="card-footer text-muted">

                                <div th:each="note,index :*{tag}">
                                    <a href="#" th:text="'#'+${note.tag}"></a>
                                    &nbsp;
                                </div>
                            </div>

                            <div class="card-footer text-muted">
                                <div class="row">

                                    <div class="col-auto">
                                        <a th:href="@{'/trip/'+ ${review.journey.id}}" class="btn btn-link"> Journey <i class="fa fa-external-link-alt" title="go to journey page"></i> </a>
                                    </div>
                                    <div class="col-auto">
                                        <p th:text="${review.rate}+'/5'"></p>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>

            </div>



        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.js}"></script>

</html>